/* CSS for accessibility page */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Font for all pages */
body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

/* Full text in accessibility.html and intro text in booking.html */
.introduction {
  letter-spacing: 1px;
  padding-top: 20px;
  width: 50%;
  margin: auto;
}

/* Spacing between paragraphs in introduction text */
.introduction > p {
  padding-bottom: 10px;
}

/*Navigation bar, main*/
.topnav {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
  height: auto;
  z-index: 1;
}

/*Nav bar, boxes*/
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  line-height: 40px;
}

/*Hovering over boxes in nav bar*/
.hover:hover {
  background-color: rgb(217, 141, 0);
  color: white;
}

/*Cursor on topical button*/
.cursor {
  cursor: help;
}

/*Nav bar, active button*/
.topnav a.active {
  color: orange;
}

/*The logo in nav bar*/
.logo {
  background-image: url("/bilder/62.jpeg");
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
}

@media screen and (max-width: 500px) {
  /* Navigation bar */
  .topnav a {
    padding: 10px 3%;
    font-size: 3.4vw;
  }
}

/* Hero image accessibility, from: https://www.pexels.com/photo/snow-sea-landscape-water-5334316/ */
.hero-image-accessibility {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  background-image: url("/images/pexels-christian-pfeifer-5334316.jpg");
  height: 20vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  min-width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}

/* Heading on hero image */
.hero-page-text {
  font-size: calc(6vw + 15px);
  color: rgb(217, 141, 0);
}

/* Picture credit */
.picture-text {
  color: rgba(255, 255, 255, 0.92);
  font-size: calc(6px + 0.5vw);
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.text {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 1%;
  padding-right: 2%;
}

p {
  padding-bottom: 10px;
}

.text > img {
  display: block;
  border: solid;
  border-radius: 2px;
}

img {
  width: 100%;
}
